.section-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
    animation: fadeUp 0.8s ease forwards;
}



.section-header h1{
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;

    /* position: relative;
    display: inline-block; */
}


.section-header p {
  font-size: 15px;
  color: black;
  margin-top: 15px;
}